/* jQuery Gridly
 * Copyright 2015 Kevin Sylvestre
 * 1.2.9
 */
.grid{
  position: relative;
  height: 100vh;
  .brick{
    position: absolute;
    width: 370px;
    height: 450px;
    &[data-ss-colspan="2"]{
    }
  }

}

@media only screen and (max-width: 1920px) and (min-width: 1500px) {
  .grid{
    width: 75%;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .grid{
        width: 95%;
  }
}
@media only screen and (max-width: 1200px){
  .grid{
        margin: 0 128px;
  }
}
@media only screen and (max-width: 768px){
#app{
  .grid{
          margin: 0px -23px -15px;

  }
  .nav{
    width: 74px;
  }
}
}
