.grid{
  position: relative;
  height: 100vh;
  transition: margin 1s ease-in;
  .brick{
    position: absolute;
    width: 370px;
    height: 450px;
    &[data-ss-colspan="2"]{
    }
  }

}
@media only screen and (max-width: 1920px) and (min-width: 1500px) {
  .grid{
    width: 75%;
    margin: 0 0% 0 10%;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .grid{
        width: 95%;
  }
}
@media only screen and (max-width: 1200px){
  .grid{
    margin: 0px 0% 0 2%;

  }
}
@media only screen and (max-width: 768px){
#app{
  .grid{
              margin: 0px 0 0px 0%;

  }
  .nav{
    width: 74px;
  }
}
}
