.grid{
  position: relative;
  height: 100vh;
  transition: margin 1s ease-in;
  .brick{
    position: absolute;
    width: 370px;
    height: 450px;
    &[data-ss-colspan="2"]{
    }
  }

}

//widescreen
@media only screen and (max-width: 1920px) and (min-width: 1500px) {
  .grid{
    width: 75%;
    margin: 0px 0% 0 12%;
  }
}

//laptop
@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .grid{
        width: 95%;
        margin: 0px 0% 0 2.5%;
  }
}

//ipad pro
@media only screen and (max-width: 1200px){
  .grid{
        margin: 60px 0% 0 -.5%;

  }
}

//ipad
@media only screen and (max-width: 768px){
#app{
  .grid{
                    margin: 60px 0 0px -.5%;

  }
  .nav{
    width: 74px;
  }
}
}
