$dark-font: #454545;
$light-font: #fff;

.fire{
  background: red !important;
  color: white !important;
}
.fairy{

}
.flying{

}
.ghost{

}
.grass{
      background: linear-gradient(to top, #333, #156900 38%, #55a95f, #006c12) !important;
  color: white !important;
}
.dark{
  background: purple !important;
  color: white !important;
}
.dragon{
  background: blue !important;
  color: white !important;
}

.fighting{
  background: linear-gradient(to top, #333, #610000 38%, #a95555, #3d0000) !important;
  color: white !important;
}
.psychic{
  background: purple !important;
  color: white !important;
}

.bug{
  background: green !important;
  color: white !important;
}

.electric{
  background: yellow !important;
  color: white !important;
}

.ground{
  background: linear-gradient(to top, #603813, #b29f94 38%, #e3cfc1, #b29f94) !important;
  color: $dark-font !important;
}
.ice{

}
.normal{
      background: linear-gradient(#ffecd2, #fcb69f);
      color: white;
}
.poison{

}
.rock{

}
.steel{

}
.water{
  background: linear-gradient(to top, #333, #0400ff 38%, #5564a9, #0037ff) !important;
  color: white !important;
}
