@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

#app {
  height: 100vh;

  .grid-wrapper {
    display: flex;
    margin: 0 50px;
    justify-content: center;
    align-items: center;
    height: 100%;

    .grid {
      display: -ms-grid;
      display: grid;
      grid-gap: 50px;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      height: 60%;
      width: 100%;
      max-width: 1400px;

      .monster {
        background: linear-gradient(#1a1919, rgba(0,0,0,0.631373));
        height: 100%;
        width: 100%;
        height: auto;

        .img-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          background: #be1010d6;
          margin: 20px;

          .poke-img {
            width: 50%;
            height: auto;
          }
        }

        .info {
          .name-wrapper {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            text-transform: capitalize;
            font-weight: 600;
            .poke-name {
              margin-bottom: 20px;
              letter-spacing: .3rem;
            }
          }

          .poke-types{
            display: flex;
            justify-content: space-evenly;
            .poke-type{
              width: 150px;
                  text-align: center;
                  background: black;
                  color: #d1d1d1;
                  padding: 10px 0;
                  letter-spacing: .2rem;
              &.water{
                background: linear-gradient(33deg, blue, #101056 53%, #5074f5 101%, rgb(0, 126, 199));
              }
              &.fire{
                background: linear-gradient(33deg, red, #929230a3);
              }
            }
          }
        }
      }
    }
  }
}
