@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body {
  line-height: 1;
  background: white;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

#app {
  height: 100vh;

  .grid-wrapper {
    display: flex;
    margin: 0 50px;
    justify-content: center;
    align-content: center;
    height: 100%;

    .grid {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      width: 100%;

      padding: 25px 0;

      .monster {
        background: linear-gradient(#1a1919, rgba(0,0,0,0.631373));
        height: 100%;
        width: 100%;
        height: auto;
        padding: 20px;
        .img-wrapper {
          background: white;
          position: relative;
          height: 100%;
          .poke-img {
            position: absolute;
            width: 100%;
            height: 50%;
            transform: translate(-50%, -50%);
            max-width: 300px;
            top: 50%;
            left: 50%;
            // background: url('https://www.smogon.com//dex/media/sprites/xy/braixen.gif');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: all 1s ease-in-out;
            &.opened{
              transform: translate(0%, 0%);
              top: 0;
              left: 0;
            }
          }

          .ball{
            width: 70%;
            position: absolute;
            background: radial-gradient(circle at 20% 131%, #fff, rgba(0,0,0,0.541176) 10%, rgba(176,2,2,0.101961) 80%, #fff 100%),radial-gradient(circle at 50% -100%, #000, red 78%, red 68%, #efefef 76%);
            border-radius: 50%;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 373.33px;
            display: flex;
            justify-content: center;
            border: solid black 1px;
            box-shadow: black 6px 20px 20px -12px;
            &:after{
              content: '';
              padding-top: 100%;
              display: block;
            }
            &.opened{
              display: none;
            }
            .ball-line{
              position: absolute;
              width: 150%;
              height: 74%;
              border-radius: 50%;
              top: -10%;
              left: -24%;
              border-bottom: black solid 1vw;
            }
              .ball-btn{
                width: 25%;
                height: 25%;
                top: 49%;
                position: absolute;
                border-radius: 50%;
                overflow: hidden;
                max-width: 373.33px;
                background: radial-gradient(circle at 50% 50%, #d7d7d7 49%, rgb(0, 0, 0) 60%, rgb(86, 85, 85) 35%, #fff 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid black .5vw;
                box-shadow: black 0px 0px 1vw 0px;
                cursor: pointer;
                &:hover{
                  background: radial-gradient(circle at 50% 50%, #fd8f8f 49%, #000 60%, #565555 35%, #202020 100%);
                }
            }
          }
        }

        .info {
          .name-wrapper {
            display: flex;
            justify-content: center;
            font-size: 2rem;
            text-transform: capitalize;
            font-weight: 600;
            .poke-name {
              margin-bottom: 20px;
              letter-spacing: .3rem;
            }
          }

          .poke-types{
            display: flex;
            justify-content: space-evenly;
            .poke-type{
              width: 150px;
                  text-align: center;
                  background: black;
                  color: #d1d1d1;
                  padding: 10px 0;
                  letter-spacing: .2rem;
              &.water{
                background: linear-gradient(33deg, blue, #101056 53%, #5074f5 101%, rgb(0, 126, 199));
              }
              &.fire{
                background: linear-gradient(33deg, red, #929230a3);
              }
            }
          }
          .poke-moves{
            max-width: 360px;
            margin: 10px auto 20px;
            .move-grid{
              display: grid;
              grid-template-columns: 2fr 1fr;
              margin: 0 auto;
              row-gap: 5px;

              .move-type{
                text-align: center;
                padding: 10px;
                background: linear-gradient(33deg, blue, #101056 53%, #5074f5 101%, #007ec7);
                color: white;
                border-radius: 20px;
              }
              .move-name{
                padding: 10px;
                background: linear-gradient(#858484, #c5c2c2, #988383);
                border-radius: 20px;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
